<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>EcoCamper</title>
<meta name="description" content="">
<meta name="keywords" content="">

<!-- Favicons -->
<link href="/images/favicon.png" rel="icon">
<link href="/images/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Fonts -->
<link href="https://fonts.googleapis.com" rel="preconnect">
<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
	rel="stylesheet">

<!-- /vendor CSS Files -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="/vendor/aos/aos.css" rel="stylesheet">
<link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

<!-- Main CSS File -->
<link href="/css/main.css" rel="stylesheet">

<!-- =======================================================
  * Template Name: Active
  * Template URL: https://bootstrapmade.com/active-bootstrap-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<script>
	function confirm_orderList() {
		if ("[[${userId}]]" != "") {
			location.href = "/shop/shopOrderList";
		} else {
			alert("로그인 후 주문내역 열람이 가능합니다.")
			if (confirm("로그인 창으로 이동하시겠습니까?"))
				location.href = "/loginForm"

		}
	}
	function searchMenu() {
		//a href = "/shop/shopAllList?search=";
		const searchTerm = document.getElementById('searchMenu').value.trim();
		let url = '/shop/shopAllList';

		if (searchTerm) {
			url += `?search=${encodeURIComponent(searchTerm)}`;
		}

		window.location.href = url;
		filterProducts()

	}
</script>
<body class="index-page">

	<header id="header" class="header d-flex align-items-center sticky-top">
		<div
			class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

			<a href="/index" class="logo d-flex align-items-center"> <!-- Uncomment the line below if you also wish to use an image logo -->
				<!-- <img src="/images/logo.png" alt=""> -->
				<h1 class="sitename">EcoCamper</h1>
			</a>

			<nav id="navmenu" class="navmenu">
				<ul>
					<li><a href="/index" class="active">Home</a></li>
					<li><a href="/feed/feedList">Community</a></li>
					<li class="dropdown"><a href="/shop/shopmain"><span>Shop</span>
							<i class="bi bi-chevron-down toggle-dropdown"></i></a>
						<ul>
							<li class="dropdown"><a href="#"><span>상품목록</span> <i
									class="bi bi-chevron-down toggle-dropdown"></i></a>
								<ul>
									<li><a href="/shop/shopAllList">전체상품</a></li>
									<li><a href="/shop/shopmain#products1">대여</a></li>
									<li><a href="/shop/shopmain#products2">일반캠핑장비</a></li>

								</ul></li>
							<li class="dropdown"><a href="#"><span>상품검색</span> <i
									class="bi bi-chevron-down toggle-dropdown"></i></a>
								<ul>
									<li style="display: flex;"><input type="text" id="searchMenu" placeholder="상품 검색..." style="width:130px;">
									<a href="#" onclick="searchMenu()">검색</a></li>
									
								</ul></li>
							<li><a href="#" onclick="confirm_orderList()">주문내역</a></li>
							<li><a href="/shop/shopcart">장바구니</a></li>
						</ul></li>

					<li><a href="/map">Map</a></li>
					<li><a href="/myPage">My</a></li>
				</ul>
				<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
			</nav>

		</div>
	</header>