<div class="container">
	<div class="row">
		<h2 align="center" style="font-style: italic">Account information</h2>
		<h5 align="center" th:text="${user.name}+'님, 안녕하세요'"></h5>
		<div class="col-md-2 fs-5">
			<table class="table table-sm">
				<tr>
					<td><a href="myPage?mp=/user/editForm">회원정보수정</a></td>
				</tr>
				<tr>
					<td><a href="/feed/myFeed">내가 쓴 피드</a></td>
				</tr>
				<tr>
					<td><a href="/shop/myReview">내가 쓴 리뷰</a></td>

				</tr>
				<tr>
					<td><a href="/shop/shopOrderList">주문배송조회</a></td>
				</tr>

				<tr>
					<td><a href="/user/logout">로그아웃</a></td>
				</tr>
			</table>
		</div>
		<div class="col-md-8">
			<div th:if="${mp != null}">
				<div th:replace="~{${mp}}"></div>
			</div>
		</div>
	</div>
</div>


